html, body {
  height: 100%;
  margin: 0;
}

body {
  background: #ffffff url('background-orizzontale.png') repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.avatar-wrap {
  position: relative;
  width: 50%;
  height: 80%;
}

.avatar-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  overflow: visible;
}
