html, body {
  height: 100%;
  margin: 0;
}

body {
  background: #ffffff url('background-orizzontale.png') repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden
}

.avatar-wrap {
  position: relative;
  width: 50%;
  height: 80%;
  overflow: visible;

  user-drag: none;         /* WebKit */
  -webkit-user-drag: none; /* Safari/Chrome */
  user-select: none;        /* previene selezione testo/elementi */
  pointer-events: auto;
}

.avatar-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  overflow: visible;

  /* impedisce il drag dell'immagine */
  user-drag: none;       /* per WebKit (Safari, Chrome) */
  -webkit-user-drag: none;
  pointer-events: auto;  /* mantiene gli eventi click */
  user-select: none;     /* opzionale: impedisce selezione */
}
